[submodule "luci-theme-argon"]
	path = luci-theme-argon-18.06
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
	branch = master
	
[submodule "luci-app-vssr"]
	path = luci-app-vssr
	url = https://github.com/sonyvivo-c/luci-app-vssr.git
